<div class="inicio-container">
    <div class="welcome-container">
        <div class="welcome-section">
            <h2 class="welcome-title">BIENVENIDO A CONSTRUCTORA CHAVARRÍA</h2>
            <p class="welcome-text">Tu plataforma centralizada para la gestión eficiente de proyectos, inventario y
                personal. ¡Optimiza tus operaciones y construye el futuro con nosotros!</p>
        </div>
    </div>

    <div class="modules-grid">
        <div class="module-card" routerLink="/proyectos">
            <i class='bx bxs-folder-open'></i>
            <h3>Proyectos</h3>
            <p>Gestiona y supervisa todos tus proyectos en curso.</p>
        </div>
        <div class="module-card" routerLink="/trabajadores">
            <i class='bx bxs-group'></i>
            <h3>Trabajadores</h3>
            <p>Administra la información y el rendimiento de tu equipo.</p>
        </div>
        <div class="module-card" routerLink="/inventario">
            <i class='bx bxs-hard-hat'></i>
            <h3>Inventario</h3>
            <p>Mantén un control preciso de tus herramientas y materiales.</p>
        </div>
        <div class="module-card" routerLink="/ayuda">
            <i class='bx bxs-help-circle'></i>
            <h3>Ayuda</h3>
            <p>Encuentra recursos y soporte para cualquier duda.</p>
        </div>
    </div>
</div>