<div class="navbar-container">
  <div class="logo-box">
    <img src="https://i.ibb.co/tMkTrv2q/Captura-de-pantalla-2025-09-08-234739.png" alt="Logo de Constructora Chavarría">
  </div>
  <nav class="nav-links">
    <ul>
      <li><a [routerLink]="['/inicio']" routerLinkActive="active">INICIO</a></li>
      <li><a [routerLink]="['/proyectos']" routerLinkActive="active">PROYECTOS</a></li>
      <li><a [routerLink]="['/trabajadores']" routerLinkActive="active">TRABAJADORES</a></li>
      <li><a [routerLink]="['/inventario']" routerLinkActive="active">INVENTARIO</a></li>
    </ul>
  </nav>
   <div class="logout-box">
    <button (click)="cerrarSesion()">CERRAR SESIÓN</button>
  </div>

  <div class="help-box">
    <a [routerLink]="['/ayuda']" routerLinkActive="active">AYUDA</a>
  </div>
</div>
