.navbar-container {
  width: 250px;
  height: 95vh;
  background-color: #574848;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(72, 68, 68);;
}

.logo-box {
  text-align: center;
  margin-bottom: 40px;
}

.logo-box img {
  max-width: 100%;
  height: auto;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a,
.help-box a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active {
  background-color: #908f8f;
  color: #fff;
}

.help-box {
  margin-top: auto;
}

.help-box a {
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;

}
.help-box a:hover,
.help-box .active{
  background-color: #908f8f;
  color: #fff;
}


.logout-box {
  margin-top: 290px; 
  margin-bottom: 10px;
  text-align: center;
}

.logout-box button:hover {
  background-color: #d13d3d;
  color: #fff;
}