<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>

<div class="tabla-box table-responsive">

  <h2>TRABAJADORES</h2>
  <button class="btn btn-success m-4" data-bs-toggle="modal" data-bs-target="#modalNuevo">
    <i class='bx bx-plus'></i> NUEVO
  </button>


  <div class="input-group p-4">
    <span class="input-group-text"><i class='bx bx-search'></i></span>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre..."
      [(ngModel)]="filtroNombre"
      (ngModelChange)="buscarPorNombre()"
      name="filtroNombre"
    >
  </div>

  <table class="tabla">

    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Horas Trabajadas</th>
      <th>Proyecto</th>
      <th>Comentario</th>
      <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
      @for (dato of trabajadores; track dato.id){
        <tr>
          <td>{{ dato.id }}</td>
          <td>{{ dato.nombre }}</td>
          <td>{{ dato.horas_trabajadas }}</td>
          <td>{{ dato.proyecto_id }}</td>
          <td>{{ dato.comentario }}</td>
          <td>
<!--            <button class="btn btn-danger"  (click)="eliminarTrabajador(dato.id)"><i class='bxr  bx-trash'  ></i> </button>-->
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" (click)="seleccionarTrabajador(dato)" ><i class='bxr  bx-trash'  ></i> </button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditar" (click)="seleccionarTrabajadorParaEditar(dato)"><i class='bxr  bx-edit'  ></i> </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>



<!-- Modal Nuevo Trabajador -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Trabajador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="formNombre">Nombre</label>
            <input type="text" class="form-control" id="formNombre" placeholder="Nombre" [(ngModel)]="nuevoTrabajador.nombre" name="nombre">
          </div>
          <div class="form-group">
            <label for="formHoras">Horas Trabajadas</label>
            <input type="number" class="form-control" id="formHoras" placeholder="Horas" [(ngModel)]="nuevoTrabajador.horas_trabajadas" name="horas">
          </div>
          <div class="form-group">
            <label for="formProyecto">Proyecto</label>
            <input type="number" class="form-control" id="formProyecto" placeholder="Proyecto" [(ngModel)]="nuevoTrabajador.proyecto_id" name="proyecto">
          </div>
          <div class="form-group">
            <label for="formComentario">Comentario</label>
            <input type="text" class="form-control" id="formComentario" placeholder="Comentario" [(ngModel)]="nuevoTrabajador.comentario" name="comentario">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregarTrabajador()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar Trabajador -->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Trabajador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        @if (trabajadorAEditar) {
          <form>
            <div class="form-group">
              <label for="editNombre">Nombre</label>
              <input type="text" class="form-control" id="editNombre" placeholder="Nombre" [(ngModel)]="trabajadorAEditar.nombre" name="nombre">
            </div>
            <div class="form-group">
              <label for="editHoras">Horas Trabajadas</label>
              <input type="number" class="form-control" id="editHoras" placeholder="Horas" [(ngModel)]="trabajadorAEditar.horas_trabajadas" name="horas">
            </div>
            <div class="form-group">
              <label for="editComentario">Comentario</label>
              <input type="text" class="form-control" id="editComentario" placeholder="Comentario" [(ngModel)]="trabajadorAEditar.comentario" name="comentario">
            </div>
          </form>
        }
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="actualizarTrabajador()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Eliminar Trabajador -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Trabajador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Desea Eliminar al Trabajador <strong>{{trabajadorSeleccionado?.nombre}}</strong> ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="eliminarTrabajador()" >Confirmar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
