<div class="ayuda-container">
    <div class="ayuda-box">
        <h2>AYUDA</h2>
        <div class="image-box">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/5jOHKDJqiCM?si=3Wu-VgBmqkpt_jCR"
                title="Video de Ayuda para Constructora Chavarría" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="btn-group">
            <button class="ayuda-btn" (click)="contacto()">CONTACTO CON SOPORTE</button>
    
        </div>
    </div>
    </div>