<!DOCTYPE html>
<html>
<head>
    <title>Login - Constructora Chavarría</title>
    <!-- CSS -->

    <!-- Iconos -->
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
</head>
<body>

<!-- Logo -->
<div class="logo">
        <img src="Imagenes/Logo.png" alt="Logo">
    </div>

    <!-- Caja login -->
    <div class="login-box">
        <h2>INICIO DE SESIÓN</h2>

    <div class="input-box">
        <i class='bx  bx-user'></i>
        <input type="text" id="usuario" placeholder="USUARIO">
    </div>

    <div class="input-box">
        <i class='bx  bx-car-key'></i>
        <input type="password" id="password" placeholder="CONTRASEÑA">
    </div>

    <div class="btns">
        <button onclick="crearCuenta()">CREAR CUENTA</button>
        <button onclick="ingresar()">INGRESAR</button>
    </div>
</div>

<!-- JavaScript -->
<script src="login.js"></script>

</body>
</html>
